<html>
    <head>
        <title>

        </title>
    </head>
    <body>
        <form method="POST" action="/usergame">
            <label for="title">Username</label>
            <br>
            <input type="text" name="username"/>
            <br>

            <label for="title">Password</label>
            <br>
            <input type="text" name="password"/>
            <br>

            <button type="submit">Sign Up</button>
        </form>
    </body>
</html>